<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns:context="http://www.springframework.org/schema/context"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <bean id="clienteService" class="com.ryd.service.impl.ClienteServiceImpl">
           <property name="clienteDao" ref="clienteDao" />
           <property name="saldoDao" ref="saldoDao" />
    </bean>
    
    <bean id="productoService" class="com.ryd.service.impl.ProductoServiceImpl">
           <property name="productoDao" ref="productoDao" />
    </bean>
    
    <bean id="remitoService" class="com.ryd.service.impl.RemitoServiceImpl">
           <property name="remitoDao" ref="remitoDao" />
           <property name="clienteDao" ref="clienteDao" />
           <property name="productoRemitoDao" ref="productoRemitoDao" />
           <property name="saldoDao" ref="saldoDao" />
    </bean>
    
    <bean id="movimientoService" class="com.ryd.service.impl.MovimientoServiceImpl">
           <property name="clienteDao" ref="clienteDao" />
           <property name="movimientoDao" ref="movimientoDao" />
           <property name="saldoDao" ref="saldoDao" />
    </bean>   
</beans>
